### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*.json
*.txt
*build/

*dist/

*app.spec
/Exemple_1.py
*.pyc
/Exemple_2.py
/data-test/
/info/
/venv/
